body, form {
    margin: 0;
    padding: 0;
}

.todo-container {
    width: 300px;
    height: 400px;
    border: solid yellow;
}

.todo-input {
    margin: 10px;
}
.todo-btn {
    margin-left: 30px;
}



.inprogress-container{
    display: inline-block;
}

.outliner {
    border: solid;
}


.task-card {
    max-width: 18rem;
}